<!-- app/views/posts/new.html.erb -->
<div class="h2">
  <h1 style="color: #ffffff;;text-align:center;font-size:60px">New Post</h1>

  <%= render 'form' %><br>

  <div class="main_btn"><%= link_to 'Back', posts_path %></div>
</div>